<div class="carrito">
    <div class="header-carrito">
        <h2>tu carrito</h2>
    </div>

    <div class="carrito-items">
        <div class="carrito-item">
            <img src="image/buzo.jpg" alt="" width="80px">
            <div class="carrito-item-detalle">
                <span class="carrito-item-titulo">buzo</span>
                <div class="selector-cantidad">
                    <i class="...... restar-cantidad"></i>
                    <input type="text" value="1" class="carrito-item-cantidad">
                    <i class="... sumar-cantidad"></i>
                </div>
                <span class="carrito-item-precio">$18.000</span>
            </div>
            <span class="btn-eliminar">
                <i class=".... borrar"></i>
            </span>
        </div>

        <div class="carrito-item">
            <img src="image/buzobordado.jpg" alt="" width="80px">
            <div class="carrito-item-detalle">
                <span class="carrito-item-titulo">Buzo bordado</span>
                <div class="selector-cantidad">
                    <i class="...... restar-cantidad"></i>
                    <input type="text" value="1" class="carrito-item-cantidad">
                    <i class="... sumar-cantidad"></i>
                </div>
                <span class="carrito-item-precio">$18.000</span>
            </div>
            <span class="btn-eliminar">
                <i class=".... borrar"></i>
            </span>
        </div>

        <div class="carrito-item">
            <img src="image/chomba.jpg" alt="" width="80px">
            <div class="carrito-item-detalle">
                <span class="carrito-item-titulo">chomba</span>
                <div class="selector-cantidad">
                    <i class="...... restar-cantidad"></i>
                    <input type="text" value="1" class="carrito-item-cantidad">
                    <i class="... sumar-cantidad"></i>
                </div>
                <span class="carrito-item-precio">$1.800</span>
            </div>
            <span class="btn-eliminar">
                <i class=".... borrar"></i>
            </span>
        </div>

        <div class="carrito-item">
            <img src="image/imagescampera.jpg" alt="" width="80px">
            <div class="carrito-item-detalle">
                <span class="carrito-item-titulo">Camperon</span>
                <div class="selector-cantidad">
                    <i class="...... restar-cantidad"></i>
                    <input type="text" value="1" class="carrito-item-cantidad">
                    <i class="... sumar-cantidad"></i>
                </div>
                <span class="carrito-item-precio">$18.000</span>
            </div>
            <span class="btn-eliminar">
                <i class=".... borrar"></i>
            </span>
        </div>
    </div>

    <div class="carrito-total">
        <div class="fila">
            <strong>tu total</strong>
            <span class="carrito-precio-total">
                $55.800,00
            </span>
        </div>
        <button class="btn-pagar">Pagar<i class=".....bag-shopping"></i></button>
    </div>
</div>