<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&display=swap" rel="stylesheet">
    <title>Unisex homepage</title>
</head>

<body>

    <header>
        <div class="contenedor-header">
            <div class="header-top">
                <div class="logo">
                    <img src="images/logo.png" width="100%" alt="logo">
                </div>
                <div class="buscador">
                    <input class="barraBusqueda" type="text"><i class="fa fa-search"></i>
                </div>
                <div class="iconos">
                    <ul class="icon-login"><a href="/login">inicia sesion<i class="......icono de la perona"></i></a></ul>
                    <ul class="icon-compra"><a href="/carrito">compra<i class=".....icono del carrito"></i></a></ul>
                </div>
            </div>

            <div class="options-header">
                <ul class="items">
                    <li><a href="">Novedades</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Hombre</a></li>
                    <li><a href="">Mujer</a></li>
                </ul>
            </div>

        </div>

    </header>

    <baner class="banner">
        <img src="images/banner.png" width="100%" alt="banner">
    </baner>

    <main>
        <section class="seccion-products">
            <div class="product">
                <div class="img-product">
                    <img src="images/bsuzo.jpg" height="220px" alt="cafetera">
                </div>
                <div class="information">
                    <h4 class="description">Cafetera Moulinex</h4>
                    <p class="price">$230.000</p>
                </div>
            </div>
            <div class="product">
                <div class="img-product">
                    <img src="images/buzsobordado.jpg" alt="cafetera">
                </div>
                <div class="information">
                    <h4 class="description">Cafetera Moulinex</h4>
                    <p class="price">$230.000</p>
                </div>
            </div>
            <div class="product">
                <div class="img-product">
                    <img src="images/chosmba.jpg" alt="cafetera">
                </div>
                <div class="information">
                    <h4 class="description">Cafetera Moulinex</h4>
                    <p class="price">$230.000</p>
                </div>
            </div>
            <div class="product">
                <div class="img-product">
                    <img src="images/imagesscampera.jpg" alt="cafetera">
                </div>
                <div class="information">
                    <h4 class="description">Cafetera Moulinex</h4>
                    <p class="price">$230.000</p>
                </div>
            </div>
            <div class="product">
                <div class="img-product">
                    <img src="images/rospa.jpg" alt="cafetera">
                </div>
                <div class="information">
                    <h4 class="description">Cafetera Moulinex</h4>
                    <p class="price">$230.000</p>
                </div>
            </div>
            <div class="product">
                <div class="img-product">
                    <img src="images/buszo.jpg" alt="cafetera">
                </div>
                <div class="information">
                    <h4 class="description">Cafetera Moulinex</h4>
                    <p class="price">$230.000</p>
                </div>
            </div>
            <div class="product">
                <div class="img-product">
                    <img src="images/buszo.jpg" alt="cafetera">
                </div>
                <div class="information">
                    <h4 class="description">Cafetera Moulinex</h4>
                    <p class="price">$230.000</p>
                </div>
            </div>
            <div class="product">
                <div class="img-product">
                    <img src="images/buzso.jpg" alt="cafetera">
                </div>
                <div class="information">
                    <h4 class="description">Cafetera Moulinex</h4>
                    <p class="price">$230.000</p>
                </div>
            </div>

        </section>
    </main>
    <footer>
        <div class="footer-options">
            <ul>
                <section class="options">
                    <li >contactanos</li>
                </section>
                <section class="options">
                    <li >redes sociales</li>
                </section>
                <section class="options">
                    <li >terminos y condiciones</li>
                </section>
                <section class="options">
                    <li>reclamos</li>
                </section>
            </ul>
        </div>

    </footer>

</body>

</html>