<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <header>
        <div class="contenedor-header">
            <div class="header-top">
                <div class="logo">
                    <img src="images/logo.png" width="100%" alt="logo">
                </div>
                <div class="buscador">
                    <input class="barraBusqueda" type="text"><i class="fa fa-search"></i>
                </div>
                <div class="iconos">
                    <ul class="icon-login"><a href="/login">inicia sesion<i class="......icono de la perona"></i></a></ul>
                    <ul class="icon-compra"><a href="/carrito">compra<i class=".....icono del carrito"></i></a></ul>
                </div>
            </div>

            <div class="options-header">
                <ul class="items">
                    <li><a href="">Novedades</a></li>
                    <li><a href="">Tiendas Oficiales</a></li>
                    <li><a href="">Hombre</a></li>
                    <li><a href="">Mujer</a></li>
                </ul>
            </div>

        </div>

    </header>
    <baner class="banner">
        <img src="images/banner.png" width="100%" alt="banner">
    </baner>
    <main>
        <div class="login-contenedor">
            <h2 class="login-titulo">Iniciar Sesion</h2>
            <p class="login-registrarse">¿Aun no tienes cuenta?<a href="/register">Entra aqui</a></p>
            <form action="/login" method="GET">
                <div class="login-formulario">
                    <div class="user-contenedor">
                        <input type="email" id="nombreDeUsuario" class="input" placeholder="usuario@gmail.com">
                        <label for="name" class="user-datos">Nombre de Usuari@</label>
                        
                    </div>
                    <div class="password-contenedor">
                        <input type="password"id="contraseña" class="input" placeholder="agua1234!">
                        <label for="contraseña" class="user-datos">Contraseña</label>
                        
                    </div>
                    <div class="buttons-contenedor">
                        <button type="submit" class="button-send">Enviar</button>
                    </div>
                </div>
            </form>               
        </div>
    </main>
    <footer>
        <div class="footer-options">
            <ul>
                <section class="options">
                    <li >contactanos</li>
                </section>
                <section class="options">
                    <li >redes sociales</li>
                </section>
                <section class="options">
                    <li >terminos y condiciones</li>
                </section>
                <section class="options">
                    <li>reclamos</li>
                </section>
            </ul>
        </div>

    </footer>

</body>
</html>